name: Handle contributor comment on GitHub issue

on:
  workflow_call:
    secrets:
      LE_BOT_APP_ID:
          description: "GitHub App ID for authentication"
          required: true
      LE_BOT_PRIVATE_KEY:
          description: "GitHub App Private Key for authentication"
          required: true
      SLACK_WEBHOOK_URL:
        required: true
        description: "Webhook URL for Slack #support-dev channel"
      SLACK_COMMUNITY_NOTIFICATIONS_WEBHOOK_URL:
        required: true
        description: "Webhook URL for Slack #support-dev-notifications channel"


jobs:
  check-if-close-contributor:
    name: Check if user is a close contributor
    uses: learningequality/.github/.github/workflows/is-close-contributor.yml@main
    secrets:
          LE_BOT_APP_ID: ${{ secrets.LE_BOT_APP_ID }}
          LE_BOT_PRIVATE_KEY: ${{ secrets.LE_BOT_PRIVATE_KEY }}
    with:
      username: ${{ github.event.comment.user.login }}


  process-issue-comment:
    name: Process issue comment
    needs: [check-if-close-contributor]
    if: >-
      ${{
        !github.event.issue.pull_request &&
        github.event.comment.author_association != 'OWNER' &&
        github.event.comment.user.login != 'sentry-io[bot]' &&
        github.event.comment.user.login != 'learning-equality-bot[bot]' &&
        (github.event.comment.author_association != 'MEMBER' || needs.check-if-close-contributor.outputs.is_close_contributor == 'true')
      }}

    runs-on: ubuntu-latest
    steps:
      - name: Generate App Token
        id: generate-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.LE_BOT_APP_ID }}
          private_key: ${{ secrets.LE_BOT_PRIVATE_KEY }}

      - name: Checkout .github repository
        uses: actions/checkout@v4
        with:
          repository: learningequality/.github
          ref: main
          token: ${{ steps.generate-token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run script
        id: script
        uses: actions/github-script@v7          
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
              const script = require('./scripts/contributor-issue-comment.js');
              return await script({github, context, core});
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_COMMUNITY_NOTIFICATIONS_WEBHOOK_URL: ${{ secrets.SLACK_COMMUNITY_NOTIFICATIONS_WEBHOOK_URL }}
          IS_CLOSE_CONTRIBUTOR: ${{ needs.check-if-close-contributor.outputs.is_close_contributor }}

      - name: Send Slack notification about GitHub comment
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook-type: incoming-webhook
          webhook: ${{ steps.script.outputs.webhook_url }}
          payload: >
            {
              "text": "${{ steps.script.outputs.slack_notification_comment }}"
            }

      - name: Send Slack notification about GitHub bot reply
        if: ${{ steps.script.outputs.bot_replied }}
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook-type: incoming-webhook
          webhook: ${{ steps.script.outputs.webhook_url }}
          payload: >
            {
              "text": "${{ steps.script.outputs.slack_notification_bot_comment }}"
            }

      - name: Send Slack notification about skipped GitHub bot reply
        if: ${{ steps.script.outputs.bot_reply_skipped }}
        uses: slackapi/slack-github-action@v2.1.0
        with:
          webhook-type: incoming-webhook
          webhook: ${{ steps.script.outputs.webhook_url }}
          payload: >
            {
              "text": "${{ steps.script.outputs.slack_notification_bot_skipped }}"
            }
